*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition-duration: 5s;
    transition-property: transform;
    transition-timing-function: ease;
    transform: translateX(300px);
}
