/* 
ფსევდო  selectors- ეს   არის CSS-ის  სელექტორები
რომლებიც საშუალებას გვაძლევს რაიმეს მივანიჭოთ სტილი
*/
/* ---------------------------------------------------- */
/*
ეს pseudo selector გამოიყენება იმ ბმულებისთვის
რომლებიც მომხმარებელს ჯერ არ გაუხსნია
*/
#a:link {
  color: rgb(105, 105, 168);
}

/*
ეს გამოიყენება იმ ბმულებისთვის, რომლებიც მომხმარებელს უკვე გახსნილი აქვს.
*/
#a:visited {
  color: rgb(93, 47, 93);
}

/*
ეს მოქმედებს მაშინ როცა მაუსი გადაგვაქვს ელემენტზე
*/
#a:hover {
  color: rgb(125, 40, 40);
  text-decoration: underline;
}

/*
ეს მოქმედებს იმ მომენტში როცა მომხმარებელი აჭერს ელემენტს მაუსით
*/
#a:active {
  color: rgb(86, 212, 86);
  background-color: blueviolet;
}
