body{
    background-color: rgb(173,216,230);
    font-family: Arial;
    text-align: center;
}

h1{
    color: rgb(0,0,139);
    background-color: rgb(255,255,255);
}

p{
    font-size: 18px;
    color: rgb(0,0,0);
    background-color: rgb(240,248,255);
}

img{
    border-radius: 10px;
}

a:link{
    color: rgb(0,0,255);
    background-color: rgb(255,255,224);
}

a:visited{
    color: rgb(128,0,128);
    background-color: rgb(230,230,250);
}

a:hover{
    color: rgb(255,0,0);
    background-color: rgb(255,255,0);
    text-decoration: underline;
}

a:active{
    color: rgb(0,128,0);
    background-color: rgb(255,165,0);
}