
h1{color: red;background-color: blue;}
.language{color: red;background-color: black;}
#kulkul{color: rgb(255, 11, 243);background-color: blueviolet;}
.luka{color: red;background-color: blanchedalmond;}
div{color: aliceblue;background-color: chocolate;}