body {
    background: #eaeaea;
    font-family: Arial, sans-serif;
    padding: 40px;
}

main {
    display: flex;
    justify-content: center;
}

section {
    width: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 32px;
}

header p {
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
}

input,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    padding: 14px;
    background: #3f37c9;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #352fb5;
}