p{color: red;}
.class{color: color(srgb rgb(163, 113, 113) rgb(78, 199, 78) rgb(60, 60, 185));background-color: rgb(178, 145, 209);}
#claus{color: rgb(67, 67, 185);background-color: rgb(186, 171, 152);}
